{% extends 'base.html' %}
{% block content%}
<br>
<br>
<br>
<br>
    <div class="container-fluid">
        <div class="row">
            <div class="col m6 s6 container">

                <h4 class="col m12"><i id="avatar" class=" center-align fa fa-user-circle"></i> {{user.username}}</h4>
                <p class="col m12">{{user.profile.bio}}</p>
            </div>
            <div class="container col m6 s6">
                    <a class='dropdown-trigger btn-large col m6' href='#' data-target='dropdown1'><i class="fa fa-cog"></i></a>

                    <ul id='dropdown1' class='dropdown-content'>
                            <li><a href="#!">Profile</a></li>
                            <li class="divider" tabindex="-1"></li>
                            <li><a href="/logout">LogOut</a></li>
                    </ul>
            </div>
        </div>

        <br><br>

        <div class="row">
                <div class="col m4">Posts <span>{{images|length}}</span></div>
                <div class="col m4">Followers <span>0</span></div>
                <div class="col m4">Following <span>0</span></div>

        </div>

        <br>

        <div class="col m2"></div> <hr class="col m8"><div class="col m2"></div>

        <div class="row">

            {% for image in images %}

            <div class="row">
             <div class="col m1"></div>
             <div class="col m10">
                     <div class="card">
                             <div class="">
                                 <div class="row">
                                         <br>
                                         <span class="col m1 "></span>
                                         <span class="col m1 card-title"><i class="fa fa-user-circle"></i></span>
                                         <span class="col m8 card-title"><h6>  {{image.profile}}</h6></span>
                                 </div>
                             </div>
                             <a href="/image/{{image.id}}"></a>
                             <div class="card-image">
                                     <img src="{{image.image.url}}" class="img-responsive" alt="">
                             </div>
                                     <div class="card-content">
                                               <span class=""><i class="fa fa-heart"></i></span><span>  0 </span><span>Likes</span>
                                       </div>
                                       <div class="card-content">
                                               <p>
                                               <span class="blue-text">{{image.profile}}  </span>
                                               <span>{% autoescape on %}{{image.image_caption| safe}}{% endautoescape %}</span>
                                               </p>
                                       </div>
                                       <br>
                                       <a class="hide-on-large-only" href="">View Comments</a>

                                       <div class="card-action">
                                               <div class="row">
                                                       <form class="col s12">
                                                         <div class="row">
                                                           <div class="input-field col s10">
                                                             <textarea id="textarea1" class="materialize-textarea"></textarea>
                                                             <label for="textarea1">Comment</label>
                                                           </div>
                                                         </div>
                                                       </form>
                                                     </div>
                                             </div>
                                     </div>
                             </div>
                     <div class="col m1"></div>
             </div>


            {% endfor %}

        </div>



</div>
{% endblock %}
